<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.inventory.mapper.InventoryRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="InventoryRecordVO" type="com.szmsd.inventory.domain.vo.InventoryRecordVO">
        <result column="receipt_no" property="receiptNo"/>
        <result column="sku" property="sku"/>
        <result column="warehouse_code" property="warehouseCode"/>
        <result column="type_name" property="typeName"/>
        <result column="quantity" property="quantity"/>
        <result column="before_total_inventory" property="beforeTotalInventory"/>
        <result column="before_available_inventory" property="beforeAvailableInventory"/>
        <result column="before_freeze_inventory" property="beforeFreezeInventory"/>
        <result column="before_total_inbound" property="beforeTotalInbound"/>
        <result column="before_total_outbound" property="beforeTotalOutbound"/>
        <result column="after_total_inventory" property="afterTotalInventory"/>
        <result column="after_available_inventory" property="afterAvailableInventory"/>
        <result column="after_freeze_inventory" property="afterFreezeInventory"/>
        <result column="after_total_inbound" property="afterTotalInbound"/>
        <result column="after_total_outbound" property="afterTotalOutbound"/>
        <result column="operate_on" property="operateOn"/>
        <result column="operator" property="operator"/>
        <result column="logs" property="logs"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Column_List_VO">
        t.receipt_no,
        t.sku,
        t.warehouse_code,
        t.type type_name,
        t.quantity,
        t.before_total_inventory,
        t.before_available_inventory,
        t.before_freeze_inventory,
        t.before_total_inbound,
        t.before_total_outbound,
        t.after_total_inventory,
        t.after_available_inventory ,
        t.after_freeze_inventory,
        t.after_total_inbound,
        t.after_total_outbound,
        t.operator,
        t.operate_on,
        t.remark `logs`
    </sql>
    <select id="selectQueryList" parameterType="com.szmsd.inventory.domain.dto.InventoryRecordQueryDTO" resultMap="InventoryRecordVO">
        SELECT <include refid="Column_List_VO"/>
        FROM inventory_record t
        <where>
            <if test="receiptNo != null and receiptNo != ''">AND t.receipt_no = #{receiptNo}</if>
            <if test="type != null and type != ''">AND t.type = #{type}</if>
            <if test="sku != null and sku != ''">AND t.sku = #{sku}</if>
            <if test="warehouseCode != null and warehouseCode != ''">AND t.warehouse_code = #{warehouseCode}</if>
            <if test="operator != null and operator != ''">AND t.operator = #{operator}</if>
            <if test="startTime != null and startTime != '' and timeType != null"><![CDATA[ AND ${timeType.field} >= #{startTime} ]]></if>
            <if test="endTime != null and endTime != '' and timeType != null"><![CDATA[ AND ${timeType.field} <= #{endTime} ]]></if>
        </where>
        ORDER BY operate_on DESC
    </select>


</mapper>
