<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.system.mapper.SysDeptPostMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.system.domain.SysDeptPost">
                    <id column="dept_code" property="deptCode"/>
                    <result column="post_code" property="postCode"/>
                    <result column="post_name" property="postName"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            dept_code, post_code, post_name
        </sql>


</mapper>
