<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasApiCityMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.bas.api.domain.BasApiCity">
                    <id column="id" property="id"/>
                    <result column="country_id" property="countryId"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="actual_place_name" property="actualPlaceName"/>
                    <result column="name" property="name"/>
                    <result column="description" property="description"/>
                    <result column="lon" property="lon"/>
                    <result column="lat" property="lat"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="del_flag" property="delFlag"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, country_id, actual_place_name, name, description, lon, lat, create_by, update_by, del_flag
        </sql>

    <select id="getBasApiCity" resultType="com.szmsd.bas.api.domain.BasApiCity">
        select
        <include refid="Base_Column_List"/>
        from
        bas_api_city t
        where
        t.del_flag ='0'
        and t.country_id = 191
        and (t.name = #{name} or t.actual_place_name = #{name} or t.description = #{name})
        order by t.id  limit 1
    </select>
</mapper>
