<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasCar">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="car_code" property="carCode"/>
        <result column="car_name" property="carName"/>
        <result column="car_brand" property="carBrand"/>
        <result column="car_number" property="carNumber"/>
        <result column="car_shape" property="carShape"/>
        <result column="supplier" property="supplier"/>
        <result column="loads" property="loads"/>
        <result column="volume" property="volume"/>
        <result column="car_specifications" property="carSpecifications"/>
        <result column="car_colour" property="carColour"/>
        <result column="driver" property="driver"/>
        <result column="driver_phone" property="driverPhone"/>
        <result column="create_id" property="createId"/>
        <result column="belong_site_code" property="belongSiteCode"/>
        <result column="belong_site_name" property="belongSiteName"/>
        <result column="update_id" property="updateId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_by,
                create_time,
                update_by,
                update_time,
            id, car_code, car_name, car_brand, car_number, car_shape, supplier, loads, volume, car_specifications, car_colour, driver, driver_phone, create_id, belong_site_code, belong_site_name, update_id
        </sql>


</mapper>
