<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.api.domain.BasCustomer">
        <id column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="cus_code" property="cusCode"/>
        <result column="cus_abbverviation" property="cusAbbverviation"/>
        <result column="cus_name" property="cusName"/>
        <result column="cus_name_en" property="cusNameEn"/>
        <result column="cus_name_ar" property="cusNameAr"/>
        <result column="cus_phone" property="cusPhone"/>
        <result column="cus_tle" property="cusTle"/>
        <result column="site_code" property="siteCode"/>
        <result column="site_name" property="siteName"/>
        <result column="employee_code" property="employeeCode"/>
        <result column="employee_name" property="employeeName"/>
        <result column="address_name" property="addressName"/>
        <result column="terms_of_payment" property="termsOfPayment"/>
        <result column="terms_of_payment_code" property="termsOfPaymentCode"/>
        <result column="vip_password" property="vipPassword"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_site" property="createSite"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="create_id" property="createId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="parm1" property="parm1"/>
        <result column="parm2" property="parm2"/>
        <result column="parm3" property="parm3"/>
        <result column="parm4" property="parm4"/>
        <result column="parm5" property="parm5"/>
        <result column="premium_iden" property="premiumIden"/>
        <result column="premium_quota" property="premiumQuota"/>
        <result column="premium_rate" property="premiumRate"/>
        <result column="fee_iden" property="feeIden"/>
        <result column="fee_quota" property="feeQuota"/>
        <result column="fee_rate" property="feeRate"/>
        <result column="picture1" property="picture1"/>
        <result column="picture2" property="picture2"/>
        <result column="picture3" property="picture3"/>
        <result column="picture4" property="picture4"/>
        <result column="picture5" property="picture5"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                remark,
                create_time,
                update_by,
                update_time,
                create_by,
                terms_of_payment_code,
            id, cus_code, cus_abbverviation, cus_name, cus_name_en, cus_name_ar, cus_phone, cus_tle, site_code, site_name, employee_code, employee_name, address_name, terms_of_payment, vip_password, create_by_name, create_site, update_by_name, create_id, del_flag, status, version, parm1, parm2, parm3, parm4, parm5, premium_iden, premium_quota, premium_rate, fee_iden, fee_quota, fee_rate, picture1, picture2, picture3, picture4, picture5
        </sql>


</mapper>
