<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasCuspriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.api.domain.BasCusprice">
        <id column="id" property="id"/>
        <result column="end_time" property="endTime"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="cus_code" property="cusCode"/>
        <result column="cus_name" property="cusName"/>
        <result column="product_type_code" property="productTypeCode"/>
        <result column="product_type_name" property="productTypeName"/>
        <result column="main_code" property="mainCode"/>
        <result column="cost_category" property="costCategory"/>
        <result column="sub_code" property="subCode"/>
        <result column="charging_pattern" property="chargingPattern"/>
        <result column="start_time" property="startTime"/>
        <result column="site_code" property="siteCode"/>
        <result column="site_name" property="siteName"/>
        <result column="weight" property="weight"/>
        <result column="create_site" property="createSite"/>
        <result column="calculate_formula" property="calculateFormula"/>
        <result column="parm1" property="parm1"/>
        <result column="parm2" property="parm2"/>
        <result column="parm3" property="parm3"/>
        <result column="parm4" property="parm4"/>
        <result column="parm5" property="parm5"/>
        <result column="create_by_name" property="createByName"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="del_flag" property="delFlag"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="charging_pattern_code" property="chargingPatternCode"/>
        <result column="destination" property="destination"/>
        <result column="cost_category_code" property="costCategoryCode"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                end_time,
                remark,
                create_by,
                create_time,
                update_by,
                update_time,
                create_site,
                destination,
                charging_pattern_code,cost_category_code,
            id, cus_code, cus_name, product_type_code, product_type_name, main_code, main_name, sub_code, sub_name, start_time, site_code, site_name, weight, calculate_formula, parm1, parm2, parm3, parm4, parm5, create_By_name, update_by_name, del_flag, status, version
        </sql>


</mapper>
