<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szmsd.bas.dao.BasCodeMapper">

    <resultMap id="BasCodeMap" type="com.szmsd.bas.domain.BasCode">
        <result property="id" column="id" />
        <result property="appId" column="app_id" />
        <result property="code" column="code" />
        <result property="sequenceName" column="sequence_name" />
        <result property="i18nId" column="i18n_id" />
        <result property="prefix" column="prefix" />
        <result property="length" column="length" />
        <result property="minValue" column="min_value" />
        <result property="maxValue" column="max_value" />
        <result property="incrementBy" column="increment_by" />
        <result property="cycleFlag" column="cycle_flag" />
        <result property="orderFlag" column="order_flag" />
        <result property="lastNumber" column="last_number" />
        <result property="status" column="status" />
        <result property="bizType" column="biz_type" />
        <result property="suffix" column="suffix" />
        <result property="timeStamp" column="time_stamp" />
        <result property="isTimeStamp" column="is_time_stamp" />
    </resultMap>

    <select id="list" resultMap="BasCodeMap">
        select t.* from bas_code_config t
        where 1=1
        <if test="appId !=null and appId !=''">
            and t.app_id=#{appId,jdbcType=VARCHAR}
        </if>
        <if test="code !=null and code !=''">
            and t.code=#{code,jdbcType=VARCHAR}
        </if>
        <if test="prefix !=null and prefix !=''">
            and t.prefix=#{prefix,jdbcType=VARCHAR}
        </if>
        <if test="status !=null">
            and t.status=#{status,jdbcType=INTEGER}
        </if>
        <if test="suffix !=null and suffix !=''">
            and t.suffix=#{suffix,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getLock" resultMap="BasCodeMap">
        select t.* from bas_code_config t where t.id=#{id} for update;
    </select>

    <insert id="save">
        insert into bas_code_config
        (
        id,
        app_id,
        code,
        sequence_name,
        i18n_id,
        prefix,
        length,
        min_value,
        max_value,
        increment_by,
        cycle_flag,
        order_flag,
        last_number,
        status,
        biz_type,
        suffix,
        time_stamp,
        is_time_stamp
        )
        values
        (
        #{id,jdbcType=VARCHAR},
        #{appId,jdbcType=VARCHAR},
        #{code,jdbcType=VARCHAR},
        #{sequenceName,jdbcType=VARCHAR},
        #{i18nId,jdbcType=VARCHAR},
        #{prefix,jdbcType=VARCHAR},
        #{length,jdbcType=INTEGER},
        #{minValue,jdbcType=INTEGER},
        #{maxValue,jdbcType=BIGINT},
        #{incrementBy,jdbcType=INTEGER},
        #{cycleFlag,jdbcType=VARCHAR},
        #{orderFlag,jdbcType=VARCHAR},
        #{lastNumber,jdbcType=BIGINT},
        #{status,jdbcType=INTEGER},
        #{bizType,jdbcType=VARCHAR},
        #{suffix,jdbcType=VARCHAR},
        #{timeStamp,jdbcType=TIMESTAMP},
        #{isTimeStamp,jdbcType=INTEGER}
        )
    </insert>

    <update id="update">
        update bas_code_config t
        set
        <trim suffixOverrides=",">
            <if test="appId !=null and appId !=''">
                t.app_id=#{appId,jdbcType=VARCHAR},
            </if>
            <if test="code !=null and code !=''">
                t.code=#{code,jdbcType=VARCHAR},
            </if>
            <if test="sequenceName !=null and sequenceName !=''">
                t.sequence_name=#{sequenceName,jdbcType=VARCHAR},
            </if>
            <if test="i18nId !=null and i18nId !=''">
                t.i18n_id=#{i18nId,jdbcType=VARCHAR},
            </if>
            <if test="prefix !=null and prefix !=''">
                t.prefix=#{prefix,jdbcType=VARCHAR},
            </if>
            <if test="length !=null">
                t.length=#{length,jdbcType=INTEGER},
            </if>
            <if test="minValue !=null">
                t.min_value=#{minValue,jdbcType=INTEGER},
            </if>
            <if test="maxValue !=null">
                t.max_value=#{maxValue,jdbcType=BIGINT},
            </if>
            <if test="incrementBy !=null">
                t.increment_by=#{incrementBy,jdbcType=INTEGER},
            </if>
            <if test="cycleFlag !=null and cycleFlag !=''">
                t.cycle_flag=#{cycleFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderFlag !=null and orderFlag !=''">
                t.order_flag=#{orderFlag,jdbcType=VARCHAR},
            </if>
            <if test="lastNumber !=null">
                t.last_number=#{lastNumber,jdbcType=BIGINT},
            </if>
            <if test="status !=null">
                t.status=#{status,jdbcType=INTEGER},
            </if>
            <if test="bizType !=null and bizType !=''">
                t.biz_type=#{bizType,jdbcType=VARCHAR},
            </if>
            <if test="suffix !=null and suffix !=''">
                t.suffix=#{suffix,jdbcType=VARCHAR},
            </if>
            <if test="timeStamp !=null">
                t.time_stamp=#{timeStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="isTimeStamp !=null">
                t.is_time_stamp=#{isTimeStamp,jdbcType=INTEGER},
            </if>
            <if test="lastPatter != null and lastPatter != ''">
                t.last_patter=#{lastPatter,jdbcType=VARCHAR}
            </if>
        </trim>
        where t.id=#{id}
    </update>

    <delete id="delete">
        delete from bas_code_config where id=#{id}
    </delete>
</mapper>