<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasCarrierKeywordMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasCarrierKeyword">
                    <id column="id" property="id"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="carrier_code" property="carrierCode"/>
                    <result column="carrier_name" property="carrierName"/>
                    <result column="keywords" property="keywords"/>
                    <result column="status" property="status"/>
                    <result column="create_id" property="createId"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_id" property="updateId"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="del_flag" property="delFlag"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_time,
                update_time,
            id, carrier_code, carrier_name, keywords, status, create_id, create_by, update_id, update_by, del_flag
        </sql>
    <select id="selectCarrierKeyword" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            b.carrier_keyword_type as carrierKeywordType,
            b.origina_keywords as originaKeywords,
            REPLACE(#{map.originaKeywords},origina_keywords,now_keywords) as nowKeywords
        FROM
            bas_carrier_keyword a
                INNER JOIN bas_carrier_keyword_data b ON a.id = b.carrier_keyword_id
        WHERE
            a.carrier_code = #{map.carrierCode}
          AND a.STATUS = 0
          AND b.carrier_keyword_type = #{map.carrierKeywordType}
          and #{map.originaKeywords}!=REPLACE(#{map.originaKeywords},origina_keywords,now_keywords)
            LIMIT 0,1

    </select>


</mapper>
