<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasDestinationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.api.domain.BasDestination">
        <id column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="current_id" property="currentId"/>
        <result column="father_id" property="fatherId"/>
        <result column="region_code" property="regionCode"/>
        <result column="region_name" property="regionName"/>
        <result column="express_type" property="expressType"/>
        <result column="blong_region" property="blongRegion"/>
        <result column="busines_site" property="businesSite"/>
        <result column="city_name" property="cityName"/>
        <result column="province_name" property="provinceName"/>
        <result column="area_name" property="areaName"/>
        <result column="dis_site" property="disSite"/>
        <result column="dis_range" property="disRange"/>
        <result column="blonga" property="blonga"/>
        <result column="pon_discount" property="ponDiscount"/>
        <result column="cot_discount" property="cotDiscount"/>
        <result column="all_identity" property="allIdentity"/>
        <result column="allow_pon" property="allowPon"/>
        <result column="rem_fee" property="remFee"/>
        <result column="se_idc" property="seIdc"/>
        <result column="sa_idc" property="saIdc"/>
        <result column="as_fee" property="asFee"/>
        <result column="parm" property="parm"/>
        <result column="all_quota" property="allQuota"/>
        <result column="dis_site_code" property="disSiteCode"/>
        <result column="area" property="area"/>
        <result column="city" property="city"/>
        <result column="province" property="province"/>
        <result column="busines_site_code" property="businesSiteCode"/>
        <result column="destination_type_code" property="destinationTypeCode"/>
        <result column="destination_type_name" property="destinationTypeName"/>
        <result column="create_by" property="createBy"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="sorting_code" property="sortingCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_by,create_by_name,create_time,update_by,update_by_name,update_time
                remark,province,city,area,destination_type_code,destination_type_name,sorting_code,
            id, current_id, father_id, sa_idc, busines_site_code,dis_site_code, as_fee ,parm, blonga, region_code, region_name, express_type, blong_region, busines_site, city_name, province_name, area_name, dis_site, dis_range, pon_discount, cot_discount, all_identity, allow_pon, rem_fee, se_idc, all_quota
        </sql>


    <select id="selectTree" resultType="map">
        SELECT
        DISTINCT
                a.remark,
                a.id,
                a.current_id,
                a.father_id,
                a.region_code,
                a.region_name,
                a.express_type,
                a.blong_region,
                a.busines_site,
                a.city_name,
                a.province_name,
                a.area_name,
                a.dis_site,
                a.dis_range,
                a.pon_discount,
                a.cot_discount,
                a.all_identity,
                a.allow_pon,
                a.rem_fee,
                a.se_idc,
                a.all_quota,
                a.parm,
                a.sa_idc,
                a.as_fee,
                a.area,
                a.city,
                a.dis_site_code,
                a.busines_site_code,
                a.province
            FROM
            bas_destination a
            LEFT JOIN bas_destination b ON a.current_id = b.father_id
        </select>


    <delete id="deleteBySiteCode">
        delete from bas_destination where busines_site_code=#{businesSiteCode}
    </delete>

</mapper>
