<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasE3MesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasE3Mes">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="source_id" property="sourceId"/>
        <result column="parent_type_code" property="parentTypeCode"/>
        <result column="parent_type_name" property="parentTypeName"/>
        <result column="sub_type_code" property="subTypeCode"/>
        <result column="sub_type_name" property="subTypeName"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="order_no" property="orderNo"/>
        <result column="waybill_no" property="waybillNo"/>
        <result column="site_code" property="siteCode"/>
        <result column="site_name" property="siteName"/>
        <result column="emp_code" property="empCode"/>
        <result column="emp_name" property="empName"/>
        <result column="date_time" property="dateTime"/>
        <result column="push_flag" property="pushFlag"/>
        <result column="push_time" property="pushTime"/>
        <result column="read_flag" property="readFlag"/>
        <result column="read_time" property="readTime"/>
        <result column="attachment_flag" property="attachmentFlag"/>
        <result column="attachment_url" property="attachmentUrl"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
            id, source_id, parent_type_code, parent_type_name, sub_type_code, sub_type_name, title, content, order_no, waybill_no, site_code, site_name, emp_code, emp_name, date_time, push_flag, push_time, read_flag, read_time, attachment_flag, attachment_url, del_flag, create_by, update_by
    </sql>

    <update id="deleteBySourceId">
        update bas_e3_mes set del_flag ='1' where source_id = #{sourceId}
    </update>

    <update id="batchDel">
        update bas_e3_mes set del_flag ='1'
        where  id in
        <foreach  collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
