<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasKeywordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.api.domain.BasKeyword">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="keyword_code" property="keywordCode"/>
        <result column="keyword_name" property="keywordName"/>
        <result column="site_code" property="siteCode"/>
        <result column="site_name" property="siteName"/>
        <result column="create_id" property="createId"/>
        <result column="create_site" property="createSite"/>
        <result column="parm1" property="parm1"/>
        <result column="parm2" property="parm2"/>
        <result column="parm3" property="parm3"/>
        <result column="parm4" property="parm4"/>
        <result column="parm5" property="parm5"/>
        <result column="version" property="version"/>
        <result column="busines_site" property="businesSiteCode"/>
        <result column="busines_site_code" property="businesSiteCode"/>
        <result column="city_name" property="cityName"/>
        <result column="city_code" property="cityCode"/>
        <result column="sorting_code" property="sortingCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_by,
                create_time,
                city_name,
                city_code,sorting_code,
            id, keyword_code, keyword_name, site_code, site_name, remark, create_id, create_site, parm1, parm2, parm3, parm4, parm5, version ,busines_site ,busines_site_code
        </sql>

    <delete id="deleteBydestination">
        delete from bas_keyword where site_code=#{siteCode}
    </delete>
</mapper>
