<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.dao.BasMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.bas.api.domain.BasMain">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="main_code" property="mainCode"/>
        <result column="main_name" property="mainName"/>
        <result column="main_name_en" property="mainNameEn"/>
        <result column="main_name_ar" property="mainNameAr"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="parm1" property="parm1"/>
        <result column="parm2" property="parm2"/>
        <result column="parm3" property="parm3"/>
        <result column="parm4" property="parm4"/>
        <result column="parm5" property="parm5"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_by,
                create_time,
                update_by,
                update_time,
            id, main_code, main_name, main_name_en, main_name_ar, create_id, update_id, status, del_flag, parm1, parm2, parm3, parm4, parm5, version
        </sql>


</mapper>
