<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.finance.mapper.AccountSerialBillMapper">

    <select id="selectPageList" resultType="com.szmsd.finance.domain.AccountSerialBill">
        SELECT
        a.id,a.no,a.tracking_no,a.cus_code,a.cus_name,a.currency_code,a.currency_name,a.amount,
        a.warehouse_code,a.warehouse_name,a.pay_method,a.business_category,a.product_code,a.product_category,
        a.charge_category,a.charge_type,a.create_by_name,a.create_time,a.update_by_name,a.update_time,
        a.create_by,a.update_by,a.remark,a.order_time,a.payment_time,a.ref_no,a.shipment_service,a.weight,
        a.calc_weight,a.specifications
        from
        (
        SELECT
        a.id,a.no,a.tracking_no,a.cus_code,a.cus_name,a.currency_code,a.currency_name,a.amount,
        a.warehouse_code,a.warehouse_name,a.pay_method,a.business_category,a.product_code,a.product_category,
        a.charge_category,a.charge_type,a.create_by_name,a.create_time,a.update_by_name,a.update_time,
        a.create_by,a.update_by,a.remark,a.order_time,a.payment_time,b.ref_no,b.shipment_service,b.weight,
        b.calc_weight,b.specifications

        FROM
        `fss_account_serial_bill` a LEFT JOIN del_outbound b on a.no=b.order_no
        ) a
        <where>
            ${ew.sqlSegment}
        </where>
        GROUP BY a.id
        ORDER BY a.payment_time DESC
    </select>

</mapper>
