<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.finance.mapper.AccountSerialBillMapper">

    <select id="selectPageList" resultType="com.szmsd.finance.domain.AccountSerialBill" parameterType="com.szmsd.finance.dto.AccountSerialBillDTO">

        SELECT
        a.id,a.no,a.tracking_no,a.cus_code,a.cus_name,a.currency_code,a.currency_name,a.amount,
        a.warehouse_code,a.warehouse_name,a.pay_method,a.business_category,a.product_code,a.product_category,
        a.charge_category,a.charge_type,a.create_by_name,a.create_time,a.update_by_name,a.update_time,
        a.create_by,a.update_by,a.remark,a.order_time,a.payment_time,b.ref_no,b.shipment_service,b.weight,
        b.calc_weight,b.specifications

        FROM
        `fss_account_serial_bill` a Inner JOIN del_outbound b on a.no=b.order_no

        <where>
        1=1
        <if test="cusCode != null  and cusCode!=''">
        and a.cus_code=#{cusCode}
        </if>
        <if test="noList != null  and noList.size()>0">
            and a.no IN
            <foreach collection="noList" item="item" index="i" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="cusCodeList != null  and cusCodeList.size()>0">
          and a.cus_code IN
         <foreach collection="cusCodeList" item="item" index="i" open="(" close=")" separator=",">
                    #{item}
           </foreach>
        </if>
       <if test="productCodeList != null  and productCodeList.size()>0">
                and a.product_code IN
          <foreach collection="productCodeList" item="item" index="i" open="(" close=")" separator=",">
                    #{item}
           </foreach>
       </if>

       <if test="chargeType != null  and chargeType!=''">
                and a.charge_type =#{chargeType}
        </if>
        <if test="warehouseCode != null  and warehouseCode!=''">
                and a.warehouse_code =#{warehouseCode}
          </if>

         <if test="currencyCode != null  and currencyCode!=''">
                and a.currency_code =#{currencyCode}
         </if>
        <if test="businessCategory != null  and businessCategory!=''">
            and a.business_category =#{businessCategory}
        </if>
        <if test="productCategory != null  and productCategory!=''">
            and a.product_category =#{productCategory}
        </if>
        <if test="chargeCategory != null  and chargeCategory!=''">
            and a.charge_category =#{chargeCategory}
        </if>
        <if test="createTimeStart != null  and createTimeStart!=''">
            and date_format(a.create_time,'%y%m%d') &gt;= date_format(#{createTimeStart},'%y%m%d')

        </if>
        <if test="createTimeEnd != null  and createTimeEnd!=''">
            and date_format(a.create_time,'%y%m%d') &lt;= date_format(#{createTimeEnd},'%y%m%d')
        </if>
        <if test="ids != null  and ids!=''">
            and FIND_IN_SET(a.id,#{ids})
        </if>
        </where>
        ORDER BY a.payment_time DESC
    </select>

</mapper>
