<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.finance.mapper.AccountBalanceLogMapper">

    <insert id="autoGeneratorBalance">

        INSERT INTO `fss_account_balance_log` ( `cus_id`, `cus_code`, `cus_name`, `currency_code`, `currency_name`, `current_balance`, `freeze_balance`, `total_balance`, `credit_type`, `credit_status`, `credit_line`, `credit_use_amount`, `credit_begin_time`, `credit_end_time`, `credit_time_interval`, `credit_time_flag`, `credit_time_unit`, `credit_buffer_time`, `credit_buffer_time_interval`, `credit_buffer_time_unit`, `credit_repaid_amount`, `create_by_name`, `create_time`, `update_by_name`, `update_time`, `create_by`, `update_by`, `remark`, `version`,`generator_time`)
        select  `cus_id`, `cus_code`, `cus_name`, `currency_code`, `currency_name`, `current_balance`, `freeze_balance`, `total_balance`, `credit_type`, `credit_status`, `credit_line`, `credit_use_amount`, `credit_begin_time`, `credit_end_time`, `credit_time_interval`, `credit_time_flag`, `credit_time_unit`, `credit_buffer_time`, `credit_buffer_time_interval`, `credit_buffer_time_unit`, `credit_repaid_amount`, `create_by_name`, `create_time`, `update_by_name`, `update_time`, `create_by`, `update_by`, `remark`, `version`,now() from fss_account_balance

    </insert>

    <select id="cusPeriodAmount" resultType="com.szmsd.finance.dto.AccountBalanceBillResultDTO">

        select cus_code as cusCode,currency_code as currencyCode,total_balance as periodAmount
        from fss_account_balance_log
        <where>
            <if test="cusCodeList != null">
                and cus_code in
                <foreach collection="cusCodeList" separator="," close=")" open="(" item="item">#{item}</foreach>
            </if>

            <if test="generatorTime != null">
                and date_format(generator_time,'%y%m%d') = date_format(#{generatorTime},'%y%m%d')
            </if>

        </where>

    </select>

</mapper>
