<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.finance.mapper.RefundRequestMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.finance.domain.FssRefundRequest">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_time" property="auditTime"/>
        <result column="reviewer_id" property="reviewerId"/>
        <result column="reviewer_code" property="reviewerCode"/>
        <result column="reviewer_name" property="reviewerName"/>
        <result column="cus_id" property="cusId"/>
        <result column="cus_code" property="cusCode"/>
        <result column="cus_name" property="cusName"/>
        <result column="treatment_properties" property="treatmentProperties"/>
        <result column="treatment_properties_code" property="treatmentPropertiesCode"/>
        <result column="responsibility_area" property="responsibilityArea"/>
        <result column="responsibility_area_code" property="responsibilityAreaCode"/>
        <result column="standard_payout" property="standardPayout"/>
        <result column="additional_payout" property="additionalPayout"/>
        <result column="compensation_payment_currency" property="compensationPaymentCurrency"/>
        <result column="compensation_payment_currency_code" property="compensationPaymentCurrencyCode"/>
        <result column="compensation_payment_flag" property="compensationPaymentFlag"/>
        <result column="payout_amount" property="payoutAmount"/>
        <result column="no_compensation_flag" property="noCompensationFlag"/>
        <result column="compensation_payment_arrived_flag" property="compensationPaymentArrivedFlag"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="warehouse_code" property="warehouseCode"/>
        <result column="business_type_name" property="businessTypeName"/>
        <result column="business_type_code" property="businessTypeCode"/>
        <result column="business_details" property="businessDetails"/>
        <result column="business_details_code" property="businessDetailsCode"/>
        <result column="fee_type_name" property="feeTypeName"/>
        <result column="fee_type_code" property="feeTypeCode"/>
        <result column="fee_category_name" property="feeCategoryName"/>
        <result column="fee_category_code" property="feeCategoryCode"/>
        <result column="num" property="num"/>
        <result column="order_no" property="orderNo"/>
        <result column="process_no" property="processNo"/>
        <result column="order_type" property="orderType"/>
        <result column="amount" property="amount"/>
        <result column="currency_code" property="currencyCode"/>
        <result column="currency_name" property="currencyName"/>
        <result column="attributes" property="attributes"/>
        <result column="attributes_code" property="attributesCode"/>
        <result column="attachment" property="attachment"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="review_remark" property="reviewRemark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by_name,review_remark,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, audit_status, audit_time, reviewer_id, reviewer_code, reviewer_name, cus_id, cus_code, cus_name, treatment_properties, treatment_properties_code, responsibility_area, responsibility_area_code, standard_payout, additional_payout, compensation_payment_currency, compensation_payment_currency_code, compensation_payment_flag, payout_amount, no_compensation_flag, compensation_payment_arrived_flag, warehouse_name, warehouse_code, business_type_name, business_type_code, business_details,business_details_code, fee_type_name, fee_type_code, fee_category_name, fee_category_code, num, order_no, process_no, order_type, amount, currency_code, currency_name, attributes, attributes_code, attachment, create_by, update_by
    </sql>
    <select id="selectRequestList" resultType="com.szmsd.finance.vo.RefundRequestListVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fss_refund_request
        <where>
            <if test="createTimeStart != null and createTimeEnd != null">
                AND create_time BETWEEN #{createTimeStart} AND #{createTimeEnd}
            </if>
            <if test="auditStatus != null">
                AND audit_status = #{auditStatus}
            </if>
            <if test="processNoList != null and processNoList.size() > 0">
                AND process_no IN
                <foreach collection="processNoList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="idList != null and idList.size() > 0">
                AND id IN
                <foreach collection="idList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="orderNoList != null and orderNoList.size() > 0">
                AND order_no IN
                <foreach collection="orderNoList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="cusCode != null and cusCode != ''">
                AND cus_code = #{cusCode}
            </if>
            <if test="createByName != null and createByName != ''">
                AND create_by_name = #{createByName}
            </if>
            <if test="attributes != null and attributes != ''">
                AND attributes like concat('%',#{attributes},'%')
            </if>
            <if test="auditTimeStart != null and auditTimeEnd != null">
                AND audit_time BETWEEN #{auditTimeStart} AND #{auditTimeEnd}
            </if>
            <if test="businessTypeName != null and businessTypeName != ''">
                AND business_type_name = #{businessTypeName}
            </if>
            <if test="businessTypeCode != null and businessTypeCode != ''">
                AND business_type_code = #{businessTypeCode}
            </if>
            <if test="responsibilityArea != null and responsibilityArea != ''">
                AND responsibility_area = #{responsibilityArea}
            </if>
            <if test="responsibilityAreaCode != null and responsibilityAreaCode != ''">
                AND responsibility_area_code = #{responsibilityAreaCode}
            </if>
            <if test="treatmentProperties != null and treatmentProperties != ''">
                AND treatment_properties = #{treatmentProperties}
            </if>
            <if test="treatmentPropertiesCode != null and treatmentPropertiesCode != ''">
                AND treatment_properties_code = #{treatmentPropertiesCode}
            </if>
        </where>
        ORDER BY audit_status ASC, id DESC
    </select>
</mapper>
