<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmsd.bas.mapper.BasChannelsMapper" >
  <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasChannels" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="country_code" property="countryCode" jdbcType="VARCHAR" />
    <result column="logistics_ervices_code" property="logisticsErvicesCode" jdbcType="VARCHAR" />
    <result column="logistics_ervices_name" property="logisticsErvicesName" jdbcType="VARCHAR" />
    <result column="estimate_whole_time" property="estimateWholeTime" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_by_name" property="updateByName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, country_name, country_code, logistics_ervices_code, logistics_ervices_name,
    estimate_whole_time, create_by, create_by_name, create_time, update_by,
    update_by_name, update_time, version, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bas_channels
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBasChannels" resultType="com.szmsd.bas.domain.BasChannels"
          parameterType="com.szmsd.bas.dto.BasChannelsDTO">
    select
    a.*
    from bas_channels a
    LEFT JOIN
    bas_channel_warehouse b
    on a.id=b.channel_id
    <where>
      1=1
      <if test="warehouseCodeList !=null and warehouseCodeList.size() >0">
        and b.warehouse_code in
        <foreach collection="warehouseCodeList" close=")" open="(" separator="," item="item">
          #{item}
        </foreach>
      </if>
      <if test="countryCode != null" >
        and country_code=#{countryCode}
      </if>
      <if test="logisticsErvicesName != null" >
        and logistics_ervices_name=#{logisticsErvicesName}
      </if>
      <if test="logisticsErvicesCode != null" >
        and logistics_ervices_code=#{logisticsErvicesCode}
      </if>
    </where>
    GROUP BY a.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bas_channels
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.szmsd.bas.domain.BasChannels" >
    insert into bas_channels (id, country_name, country_code, 
      logistics_ervices_code, logistics_ervices_name, 
       estimate_whole_time,
      create_by, create_by_name, create_time, 
      update_by, update_by_name, update_time, 
      version, del_flag)
    values (#{id,jdbcType=INTEGER}, #{countryName,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, 
      #{logisticsErvicesCode,jdbcType=VARCHAR}, #{logisticsErvicesName,jdbcType=VARCHAR}, 
       #{estimateWholeTime,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateByName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szmsd.bas.domain.BasChannels" useGeneratedKeys="true" keyProperty="id">
    insert into bas_channels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="countryCode != null" >
        country_code,
      </if>
      <if test="logisticsErvicesCode != null" >
        logistics_ervices_code,
      </if>
      <if test="logisticsErvicesName != null" >
        logistics_ervices_name,
      </if>

      <if test="estimateWholeTime != null" >
        estimate_whole_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateByName != null" >
        update_by_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsErvicesCode != null" >
        #{logisticsErvicesCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsErvicesName != null" >
        #{logisticsErvicesName,jdbcType=VARCHAR},
      </if>
      <if test="estimateWholeTime != null" >
        #{estimateWholeTime,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null" >
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szmsd.bas.domain.BasChannels" >
    update bas_channels
    <set >
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null" >
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsErvicesCode != null" >
        logistics_ervices_code = #{logisticsErvicesCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsErvicesName != null" >
        logistics_ervices_name = #{logisticsErvicesName,jdbcType=VARCHAR},
      </if>
      <if test="estimateWholeTime != null" >
        estimate_whole_time = #{estimateWholeTime,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null" >
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szmsd.bas.domain.BasChannels" >
    update bas_channels
    set country_name = #{countryName,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      logistics_ervices_code = #{logisticsErvicesCode,jdbcType=VARCHAR},
      logistics_ervices_name = #{logisticsErvicesName,jdbcType=VARCHAR},
      estimate_whole_time = #{estimateWholeTime,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>