<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.mapper.BasSellerCertificateMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasSellerCertificate">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="cus_no" property="cusNo"/>
                    <result column="country" property="country"/>
                    <result column="vat" property="vat"/>
                    <result column="eori" property="eori"/>
                    <result column="cnee_name" property="cneeName"/>
                    <result column="cnee_address" property="cneeAddress"/>
                    <result column="attachment" property="attachment"/>
                    <result column="registration_date" property="registrationDate"/>
                    <result column="is_active" property="isActive"/>
                    <result column="vaild" property="vaild"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, del_flag, cus_no, country, vat, eori, cnee_name, cnee_address, attachment, registration_date, is_active, vaild
        </sql>

    <delete id="delBasSellerCertificateByPhysics">
        delete from bas_seller_certificate where seller_code =#{sellerCode}
    </delete>



</mapper>
