<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.bas.mapper.BasSellerMessageMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasSellerMessage">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="version" property="version"/>
                    <result column="bullet" property="bullet"/>
                    <result column="readable" property="readable"/>
                    <result column="message_id" property="messageId"/>
                    <result column="seller_code" property="sellerCode"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, del_flag, version, bullet, readable, message_id
        </sql>

    <delete id="deleteBasSellerMessage">
        delete from bas_seller_message where message_id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectBasSellerMessage" resultType="com.szmsd.bas.dto.BasMessageDto">
    select m.id,
    m.create_time,
    m.title,
    m.type,
    s.bullet,
    s.readable
    from bas_seller_message s
    left join bas_message m on m.id = s.message_id
    ${ew.customSqlSegment}
    </select>



</mapper>
