<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.exception.mapper.ExceptionInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.exception.domain.ExceptionInfo">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="version" property="version"/>
                    <result column="warehouse_code" property="warehouseCode"/>
                    <result column="operator" property="operator"/>
                    <result column="operate_on" property="operateOn"/>
                    <result column="order_no" property="orderNo"/>
                    <result column="exception_no" property="exceptionNo"/>
                    <result column="order_type" property="orderType"/>
                    <result column="order_type_name" property="orderTypeName"/>
                    <result column="exception_type" property="exceptionType"/>
                    <result column="exception_type_name" property="exceptionTypeName"/>
                    <result column="is_auto_created" property="isAutoCreated"/>
                    <result column="process_remark" property="processRemark"/>
                    <result column="process_type" property="processType"/>
                    <result column="process_type_name" property="processTypeName"/>
                    <result column="solve_remark" property="solveRemark"/>
                    <result column="state" property="state"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, del_flag, version, warehouse_code, operator, operate_on, order_no, exception_no, order_type, order_type_name, exception_type, exception_type_name, is_auto_created, process_remark, process_type, process_type_name, solve_remark, state
        </sql>
    <update id="updateDelOutboundDetail" parameterType="com.szmsd.exception.dto.ExceptionInfoDetailExportDto">
        UPDATE del_outbound_detail
            <set>
                <if test="productNameChinese != null" >
                    product_name_chinese=#{productNameChinese},
                </if>
                <if test="productName != null" >
                    product_name=#{productName},
                </if>
                <if test="declaredValue != null" >
                    declared_value=#{declaredValue}
                </if>
            </set>

        <where>
        1=1
        <if test="orderNo !=null and orderNo!=''">
            and   order_no=#{orderNo}
        </if>
        <if test="delDetailId !=null and delDetailId!=''">
                and    id=#{delDetailId}
        </if>

        </where>
    </update>

    <select id="exportList" resultType="com.szmsd.exception.dto.ExceptionInfoExportDto">
        select exception_no, state, exception_type_name, order_type_name, remark, order_no,order_type from exception_info
        ${ew.customSqlSegment}
    </select>
    <select id="selectExceptionInfoDetailExport"
            resultType="com.szmsd.exception.dto.ExceptionInfoDetailExportDto">
        SELECT id as delDetailId,product_name_chinese,product_name,declared_value from del_outbound_detail where order_no=#{orderNo}
    </select>

</mapper>
