<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.returnex.mapper.ReturnExpressGoodMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.returnex.domain.ReturnExpressGood">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="version" property="version"/>
                    <result column="association_id" property="associationId"/>
                    <result column="sku" property="sku"/>
                    <result column="sku_number" property="skuNumber"/>
                    <result column="warehouse_qty" property="warehouseQty"/>
                    <result column="putaway_qty" property="putawayQty"/>
                    <result column="putaway_sku" property="putawaySku"/>
                    <result column="process_remark" property="processRemark"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, version, association_id, sku, sku_number, warehouse_qty, putaway_qty, putaway_sku, process_remark
        </sql>


</mapper>
