<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.returnex.mapper.ReturnExpressMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.returnex.domain.ReturnExpressDetail">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="seller_code" property="sellerCode"/>
        <result column="from_order_no" property="fromOrderNo"/>
        <result column="scan_code" property="scanCode"/>
        <result column="expected_no" property="expectedNo"/>
        <result column="return_no" property="returnNo"/>
        <result column="process_type" property="processType"/>
        <result column="process_type_str" property="processTypeStr"/>
        <result column="return_type" property="returnType"/>
        <result column="return_type_str" property="returnTypeStr"/>
        <result column="return_channel" property="returnChannel"/>
        <result column="warehouse_code" property="warehouseCode"/>
        <result column="warehouse_code_str" property="warehouseCodeStr"/>
        <result column="apply_process_method" property="applyProcessMethod"/>
        <result column="apply_process_method_str" property="applyProcessMethodStr"/>
        <result column="arrival_time" property="arrivalTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="overdue" property="overdue"/>
        <result column="process_remark" property="processRemark"/>
        <result column="return_source" property="returnSource"/>
        <result column="return_source_str" property="returnSourceStr"/>
        <result column="deal_status" property="dealStatus"/>
        <result column="deal_status_str" property="dealStatusStr"/>

        <result column="country_code" property="countryCode"/>
        <result column="country" property="country"/>
        <result column="expiration_duration" property="expirationDuration"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
                ref_no,
            id, create_by, update_by, del_flag, version, sku, seller_code, from_order_no, scan_code, expected_no, return_no, process_type, process_type_str, return_type, return_type_str, return_channel, warehouse_code, warehouse_code_str, apply_process_method, apply_process_method_str, arrival_time, finish_time, expire_time, process_time, customer_remark, from_order_no_new, scan_code_new, overdue, process_remark, return_source, return_source_str, deal_status, deal_status_str, country_code, country, expiration_duration
    </sql>

    <select id="selectPageList" resultType="com.szmsd.returnex.vo.ReturnExpressListVO">
        select
        <include refid="Base_Column_List"/>
        from return_express_detail
        <where>
            <if test="cm.idList != null and cm.idList.size() > 0 ">
                and id IN
                <foreach collection="cm.idList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="cm.returnSource != null and cm.returnSource != '' ">
                and return_source = #{cm.returnSource}
            </if>
            <if test="cm.dealStatus != null and cm.dealStatus != '' ">
                and deal_status = #{cm.dealStatus}
            </if>
            <if test="cm.processType != null and cm.processType != '' ">
                and process_type = #{cm.processType}
            </if>
            <if test="cm.returnType != null and cm.returnType != '' ">
                and return_type = #{cm.returnType}
            </if>
            <if test="cm.createTimeStart != null and cm.createTimeEnd != null ">
                and create_time between CONCAT(#{cm.createTimeStart},' 00:00:00') and CONCAT(#{cm.createTimeEnd},'
                23:59:59')
            </if>
            <if test="cm.warehouseCode != null and cm.warehouseCode != '' ">
                and warehouse_code = #{cm.warehouseCode}
            </if>
            <if test="cm.sellerCodeList != null and cm.sellerCodeList.size() > 0 ">
                and seller_code in
                <foreach collection="cm.sellerCodeList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="cm.noUserQuery != null and cm.noUserQuery == true ">
                and seller_code is Null
            </if>
            <if test="cm.forecastNumberList != null and cm.forecastNumberList.size() >0 ">
                and expected_no in
                <foreach collection="cm.forecastNumberList" open="(" close=")" separator="," item="fno">
                    #{fno}
                </foreach>
            </if>
            <if test="cm.scanCodeList != null and cm.scanCodeList.size() >0 ">
                and scan_code in
                <foreach collection="cm.scanCodeList" open="(" close=")" separator="," item="fno">
                    #{fno}
                </foreach>
            </if>
            <if test="cm.returnNoList != null and cm.returnNoList.size() >0 ">
                and return_no in
                <foreach collection="cm.returnNoList" open="(" close=")" separator="," item="rno">
                    #{rno}
                </foreach>
            </if>
            <if test="cm.fromOrderNoList != null and cm.fromOrderNoList.size() >0 ">
                and from_order_no in
                <foreach collection="cm.fromOrderNoList" open="(" close=")" separator="," item="rno">
                    #{rno}
                </foreach>
            </if>
            <if test="cm.refNoList != null and cm.refNoList.size() >0 ">
                and ref_no in
                <foreach collection="cm.refNoList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
            </if>
            <if test="cm.queryNoOneList != null and cm.queryNoOneList.size() >0 ">
                and from_order_no in
                <foreach collection="cm.queryNoOneList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
                or scan_code in
                <foreach collection="cm.queryNoOneList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
                or ref_no in
                <foreach collection="cm.queryNoOneList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
                or from_order_no in(select order_no from del_outbound where amazon_logistics_route_id in
                <foreach collection="cm.queryNoOneList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>)

            </if>
            <if test="cm.queryNoTwoList != null and cm.queryNoTwoList.size() >0 ">
                and from_order_no_new in
                <foreach collection="cm.queryNoTwoList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
                or scan_code_new in
                <foreach collection="cm.queryNoTwoList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
                or ref_no in
                <foreach collection="cm.queryNoTwoList" open="(" close=")" separator="," item="no">
                    #{no}
                </foreach>
            </if>
        </where>
        order by id DESC
    </select>
</mapper>
