<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmsd.http.mapper.BasCustomPricesgradeMapper" >
  <resultMap id="BaseResultMap" type="com.szmsd.http.domain.BasCustomPricesgrade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="is_self_template" property="isSelfTemplate" jdbcType="VARCHAR" />
    <result column="order_on" property="orderOn" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="custompr_type" property="customprType" jdbcType="CHAR" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_id, template_name, is_self_template, order_on, remark, begin_time, end_time,
    create_by_name, custompr_type,seller_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.szmsd.http.domain.BasCustomPricesgrade" >
    select 
    <include refid="Base_Column_List" />
    from bas_custom_pricesgrade
    <where>
       1=1
      <if test="templateId != null" >
        and  template_id = #{templateId}
      </if>
      <if test="customprType != null" >
        and  custompr_type = #{customprType}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKeys" resultType="com.szmsd.http.domain.BasCustomPricesgrade"
          parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from bas_custom_pricesgrade where template_id = #{templateId} and custompr_type  = #{customprType}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bas_custom_pricesgrade
    where seller_code = #{sellerCode,jdbcType=VARCHAR} and custompr_type  = #{customprType}
  </delete>
  <insert id="insert" parameterType="com.szmsd.http.domain.BasCustomPricesgrade" >
    insert into bas_custom_pricesgrade (id, template_id, template_name, 
      is_self_template, order_on, remark,
      begin_time, end_time, create_by_name, 
      custompr_type)
    values (#{id,jdbcType=INTEGER}, #{templateId,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{isSelfTemplate,jdbcType=VARCHAR}, #{orderOn,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createByName,jdbcType=VARCHAR}, 
      #{customprType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szmsd.http.domain.BasCustomPricesgrade" >
    insert into bas_custom_pricesgrade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="templateName != null" >
        template_name,
      </if>
      <if test="isSelfTemplate != null" >
        is_self_template,
      </if>
      <if test="orderOn != null" >
        order_on,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="customprType != null" >
        custompr_type,
      </if>
      <if test="sellerCode != null" >
        seller_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="isSelfTemplate != null" >
        #{isSelfTemplate,jdbcType=VARCHAR},
      </if>
      <if test="orderOn != null" >
        #{orderOn,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="customprType != null" >
        #{customprType,jdbcType=CHAR},
      </if>
      <if test="sellerCode != null" >
        #{sellerCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szmsd.http.dto.custom.UpdateCustomMainDto" >
    update bas_custom_pricesgrade
    <set >

      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>

    </set>
    where template_id = #{templateId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeySelectiveby" parameterType="com.szmsd.http.domain.BasCustomPricesgrade" >
    update bas_custom_pricesgrade
    <set >
      <if test="templateName != null" >
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="isSelfTemplate != null" >
        is_self_template = #{isSelfTemplate,jdbcType=VARCHAR},
      </if>
      <if test="orderOn != null" >
        order_on = #{orderOn,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="customprType != null" >
        custompr_type = #{customprType,jdbcType=CHAR},
      </if>
      <if test="sellerCode != null" >
        seller_code = #{sellerCode,jdbcType=VARCHAR},
      </if>
    </set>
    where template_id = #{templateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szmsd.http.domain.BasCustomPricesgrade" >
    update bas_custom_pricesgrade
    set template_id = #{templateId,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      is_self_template = #{isSelfTemplate,jdbcType=VARCHAR},
       order_on = #{orderOn,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      custompr_type = #{customprType,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>