<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.pack.mapper.PackageCollectionDetailMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.pack.domain.PackageCollectionDetail">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="version" property="version"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="collection_id" property="collectionId"/>
                    <result column="sort" property="sort"/>
                    <result column="sku" property="sku"/>
                    <result column="sku_name" property="skuName"/>
                    <result column="qty" property="qty"/>
                    <result column="weight" property="weight"/>
                    <result column="length" property="length"/>
                    <result column="width" property="width"/>
                    <result column="height" property="height"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, version, del_flag, collection_id, sort, sku, sku_name, qty, weight, length, width, height
        </sql>


</mapper>
