<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.pack.mapper.PackageManagementMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.pack.domain.PackageManagement">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
        <result column="order_no" property="orderNo"/>
        <result column="seller_code" property="sellerCode"/>
        <result column="link_user_name" property="linkUserName"/>
        <result column="link_phone" property="linkPhone"/>
        <result column="country_name_zh" property="countryNameZh"/>
        <result column="country_code" property="countryCode"/>
        <result column="country_name_en" property="countryNameEn"/>
        <result column="province_name_zh" property="provinceNameZh"/>
        <result column="province_code" property="provinceCode"/>
        <result column="province_name_en" property="provinceNameEn"/>
        <result column="city_name_zh" property="cityNameZh"/>
        <result column="city_code" property="cityCode"/>
        <result column="city_name_en" property="cityNameEn"/>
        <result column="district_name_zh" property="districtNameZh"/>
        <result column="district_code" property="districtCode"/>
        <result column="district_name_en" property="districtNameEn"/>
        <result column="address_zh" property="addressZh"/>
        <result column="delivery_address" property="deliveryAddress"/>
        <result column="address_en" property="addressEn"/>
        <result column="submit_time" property="submitTime"/>
        <result column="export_type" property="exportType"/>
        <result column="export_time" property="exportTime"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="expected_delivery_time" property="expectedDeliveryTime"/>
        <result column="receive_package_num" property="receivePackageNum"/>
        <result column="driver_name" property="driverName"/>
        <result column="driver_phone" property="driverPhone"/>
        <result column="package_num" property="packageNum"/>
        <result column="operation_type" property="operationType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, version, del_flag, order_no, seller_code, link_user_name, link_phone, country_name_zh, country_code, country_name_en, province_name_zh, province_code, province_name_en, city_name_zh, city_code, city_name_en, district_name_zh, district_code, district_name_en, address_zh, delivery_address, address_en, submit_time, export_type, export_time, delivery_time, expected_delivery_time, receive_package_num, driver_name, driver_phone, package_num, operation_type
    </sql>

    <select id="selectPackageManagementList" resultType="com.szmsd.pack.vo.PackageMangVO">
        select
        <include refid="Base_Column_List"/>
        from package_management
        <where>
            <if test="cm.ids != null and cm.ids.size() > 0">
                and id in
                <foreach collection="cm.ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="cm.orderNoList != null and cm.orderNoList.size() > 0">
                and order_no in
                <foreach collection="cm.orderNoList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="cm.sellerCode != null and cm.sellerCode != '' ">
                and seller_code = #{cm.sellerCode}
            </if>
            <if test="cm.submitTimeStart != null and cm.submitTimeEnd != null ">
                and submit_time between CONCAT(#{cm.submitTimeStart},' 00:00:00') and CONCAT(#{cm.submitTimeEnd},' 23:59:59')
            </if>
            <if test="cm.expectedDeliveryTimeStart != null and cm.expectedDeliveryTimeEnd != null ">
                and expected_delivery_time between CONCAT(#{cm.expectedDeliveryTimeStart},' 00:00:00') and CONCAT(#{cm.expectedDeliveryTimeEnd},' 23:59:59')
            </if>
            <if test="cm.exportType != null ">
                and export_type = #{cm.exportType}
            </if>
            and del_flag = 0
        </where>
        order by id desc
    </select>
</mapper>
