<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmsd.delivery.mapper.BasShipmentRulesMapper" >
  <resultMap id="BaseResultMap" type="com.szmsd.delivery.domain.BasShipmentRules" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="custom_code" property="customCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="service_channel_name" property="serviceChannelName" jdbcType="VARCHAR" />
    <result column="push_date" property="pushDate" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_by_name" property="updateByName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="product_code_son" property="productCodeSon" jdbcType="VARCHAR" />
    <result column="ioss_type" property="iossType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, custom_code, product_code, product_name, service_channel_name, push_date, create_by, 
    create_by_name, create_time, update_by, update_by_name, update_time, remark, del_flag,product_code_son,ioss_type,service_channel_sub,type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.szmsd.delivery.dto.BasShipmentRulesDto" >
    select 
    <include refid="Base_Column_List" />
    from bas_shipment_rules
    <where>
    del_flag=1
      <if test="customCode !=null">
        and  FIND_IN_SET(#{customCode},custom_code)
      </if>
      <if test="productCode !=null">
        and  product_code =#{productCode}
      </if>
    </where>
  </select>
  <select id="selectLists" resultType="com.szmsd.delivery.domain.BasShipmentRules" parameterType="com.szmsd.delivery.dto.BasShipmentRulesDto">
    select
    <include refid="Base_Column_List" />
    from bas_shipment_rules
    <where>
      del_flag=1 and type_name=#{typeName}
      <if test="customCode !=null and customCode!=''">
      and  FIND_IN_SET(#{customCode},custom_code)
      </if>
      <if test="productCode !=null and productCode!=''">
      and  product_code =#{productCode}
      </if>
      <if test="serviceChannelName !=null and serviceChannelName!=''">
        and  service_channel_name =#{serviceChannelName}
      </if>
      <if test="productCodeSon !=null and productCodeSon!=''">
        and     FIND_IN_SET(#{productCodeSon},product_code_son)
      </if>

    </where>

  </select>
  <select id="selectserviceChannelName" resultType="java.lang.String">
    SELECT logistics_route_id from bas_product_service where product_code=#{productCode}
  </select>
  <select id="selectListus" resultType="com.szmsd.delivery.domain.BasShipmentRules">
    select
    <include refid="Base_Column_List" />
    from bas_shipment_rules
    where
      del_flag=1 and type_name=#{typeName}

        and custom_code=#{customCode}

    and  product_code =#{productCode}



  </select>
  <select id="selectbasShipmentRules" resultType="com.szmsd.delivery.domain.BasShipmentRules" parameterType="com.szmsd.delivery.dto.BasShipmentRulesDto">
    select
    <include refid="Base_Column_List" />
    from bas_shipment_rules
    where
      del_flag=1 and type_name=1

        and  custom_code =#{customCode}


        and  service_channel_sub =#{serviceChannelName}
  </select>
  <select id="selectbasShipmentRulesu" resultType="com.szmsd.delivery.domain.BasShipmentRules" parameterType="com.szmsd.delivery.dto.BasShipmentRulesDto">
    select
    <include refid="Base_Column_List" />
    from bas_shipment_rules
    where
    del_flag=1 and type_name=1

    and  custom_code =#{customCode}
    and  service_channel_name =#{serviceChannelName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update  bas_shipment_rules set  del_flag=0
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKeyus" parameterType="com.szmsd.delivery.domain.BasShipmentRules">
    DELETE  from bas_shipment_rules where custom_code=#{customCode} and type_name=#{typeName} and product_code=#{productCode}
  </delete>
  <insert id="insert" parameterType="com.szmsd.delivery.domain.BasShipmentRules" >
    insert into bas_shipment_rules (id, custom_code, product_code, 
      product_name, service_channel_name, push_date, 
      create_by, create_by_name, create_time, 
      update_by, update_by_name, update_time, 
      remark, del_flag)
    values (#{id,jdbcType=INTEGER}, #{customCode,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{serviceChannelName,jdbcType=VARCHAR}, #{pushDate,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateByName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szmsd.delivery.domain.BasShipmentRules" >
    insert into bas_shipment_rules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customCode != null" >
        custom_code,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="serviceChannelName != null" >
        service_channel_name,
      </if>
      <if test="pushDate != null" >
        push_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateByName != null" >
        update_by_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="productCodeSon != null" >
        product_code_son,
      </if>
      <if test="iossType != null" >
        ioss_type,
      </if>
      <if test="serviceChannelSub != null" >
        service_channel_sub,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customCode != null" >
        #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="serviceChannelName != null" >
        #{serviceChannelName,jdbcType=VARCHAR},
      </if>
      <if test="pushDate != null" >
        #{pushDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null" >
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="productCodeSon != null" >
        #{productCodeSon,jdbcType=VARCHAR},
      </if>
      <if test="iossType != null" >
        #{iossType,jdbcType=CHAR},
      </if>
      <if test="serviceChannelSub != null" >
        #{serviceChannelSub,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szmsd.delivery.domain.BasShipmentRules" >
    update bas_shipment_rules
    <set >
      <if test="customCode != null" >
        custom_code = #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="serviceChannelName != null" >
        service_channel_name = #{serviceChannelName,jdbcType=VARCHAR},
      </if>
      <if test="pushDate != null" >
        push_date = #{pushDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null" >
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="productCodeSon != null" >
        product_code_son = #{productCodeSon,jdbcType=VARCHAR},
      </if>
      <if test="iossType != null" >
        ioss_type = #{iossType,jdbcType=CHAR},
      </if>
      <if test="serviceChannelSub != null" >
        service_channel_sub = #{serviceChannelSub,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szmsd.delivery.domain.BasShipmentRules" >
    update bas_shipment_rules
    set custom_code = #{customCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      service_channel_name = #{serviceChannelName,jdbcType=VARCHAR},
      push_date = #{pushDate,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>