<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.delivery.mapper.DelOutboundMapper">

    <resultMap id="outboundDetailsListMap" type="com.szmsd.delivery.vo.DelOutboundDetailListVO">
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
        <result property="orderNo" column="order_no" />
        <result property="warehouseCode" column="warehouse_code" />
        <result property="orderType" column="order_type" />
        <result property="sellerCode" column="seller_code" />
        <result property="trackingNo" column="tracking_no" />
        <result property="shipmentRule" column="shipment_rule" />
        <result property="customCode" column="custom_code" />
        <result property="state" column="state" />
        <collection property="details" column="id" javaType="java.util.List" resultMap="outboundDetailsMap"/>
    </resultMap>

    <resultMap id="outboundDetailsMap" type="com.szmsd.delivery.dto.DelOutboundDetailDto">
        <result property="sku" column="sku" />
        <result property="qty" column="qty" />
    </resultMap>

    <select id="pageList" resultType="com.szmsd.delivery.vo.DelOutboundListVO">
        SELECT
            o.id,
            o.order_no,
            o.purchase_no,
            o.order_type,
            o.state,
            o.warehouse_code,
            o.shipment_rule,
            o.tracking_no,
            o.specifications,
            o.weight,
            o.calc_weight,
            o.calc_weight_unit,
            o.amount,
            o.currency_code,
            o.exception_message,
            o.exception_state_wms,
            o.exception_message_wms,
            o.custom_code,
            o.create_by_name,
            o.create_time,
            o.remark,
            a.consignee,
            a.phone_no,
            a.email,
            a.street1,
            a.street2,
            a.street3,
            a.city,
            a.state_or_province,
            a.country_code,
            a.country,
            a.post_code,
            o.is_print,
            o.is_label_box,
            o.tracking_status,
            o.tracking_description,
            o.cod_amount,
            o.ref_no,
            o.shipment_retry_label,
            o.upload_box_label,
            o.shipments_time,
            o.amazon_logistics_route_id,
            o.house_no,
            o.currency_describe,
            o.expected_no,
            a.tax_number,
            a.id_number,
            o.prc_interface_product_code,
            o.prc_terminal_carrier,
            o.house_no
        FROM del_outbound o
        LEFT JOIN del_outbound_address a ON a.order_no = o.order_no
        ${ew.customSqlSegment}
    </select>

    <select id="getDelOutboundAndDetailsList" resultMap="outboundDetailsListMap">
        SELECT
            a.`create_time`,
            a.`remark`,
            a.`order_no`,
            a.`warehouse_code`,
            a.`order_type`,
            a.`seller_code`,
            a.`tracking_no`,
            a.`shipment_rule`,
            a.`custom_code`,
            a.`state`,
            a.`update_time`,
            b.`sku`,
            b.`qty`
        FROM
            del_outbound a
        INNER JOIN
            del_outbound_detail b
        ON a.order_no = b.order_no
        ${ew.customSqlSegment}
    </select>

    <select id="selectDelOutboundList" resultType="com.szmsd.finance.vo.QueryChargeVO" parameterType="com.szmsd.finance.dto.QueryChargeDto">
        SELECT
            t.id,
            t.order_no,
            t.create_time,
            t.custom_code,
            (SELECT a.country_code as country FROM del_outbound_address a WHERE a.order_no = t.order_no LIMIT 1) AS country,
            t.shipment_rule,
            t.tracking_no,
            t.weight,
            t.amount,
            t.state,
            t.remark
        FROM
            del_outbound t
        <where>
            <if test="no != null and no != ''">
                AND (t.order_no = #{no} or t.tracking_no = #{no})
            </if>
            <if test="shipmentRule != null and shipmentRule != ''">
                AND t.shipment_rule = #{shipmentRule}
            </if>
<!--            <if test="customCode != null and customCode != ''">-->
<!--                AND t.custom_code = #{customCode}-->
<!--            </if>-->
            <if test="customCodeList != null and customCodeList.size() > 0">
                AND t.custom_code IN
                <foreach collection="customCodeList" open="(" separator="," close=")" item="customCode">
                    #{customCode}
                </foreach>
            </if>
            <if test="orderTimeStart != null and orderTimeStart != ''">
                AND t.create_time >= #{orderTimeStart}
            </if>
            <if test="orderTimeEnd != null and orderTimeEnd != ''">
                AND t.create_time &lt;= #{orderTimeEnd}
            </if>
        </where>
        ORDER BY t.create_time DESC
    </select>

    <select id="exportList" resultType="com.szmsd.delivery.dto.DelOutboundExportListDto">
        SELECT
            o.state,
            o.order_no,
            o.tracking_no,
            o.seller_code,
            o.warehouse_code,
            o.ref_no,
            o.order_type,
            o.shipment_rule,
            a.consignee,
            a.street1,
            a.street2,
            a.state_or_province,
            a.city,
            a.post_code,
            a.country_code,
            a.country,
            a.phone_no,
            a.email,
            o.weight,
            o.calc_weight,
            o.specifications,
            DATE_FORMAT(o.bring_verify_time, '%Y-%m-%d %H:%i:%s') as bring_verify_time,
            DATE_FORMAT(o.shipments_time, '%Y-%m-%d %H:%i:%s') as shipments_time,
            DATE_FORMAT(o.tracking_time, '%Y-%m-%d %H:%i:%s') as tracking_time,
            o.exception_state,
            o.exception_message,
            o.cod_amount,
            o.remark,
            o.tracking_status,
            o.tracking_description,
            o.ioss,
            o.currency_describe,
            o.amazon_logistics_route_id
        FROM del_outbound o
        LEFT JOIN del_outbound_address a ON a.order_no = o.order_no
        ${ew.customSqlSegment}
    </select>

    <select id="reassignExportList" resultType="com.szmsd.delivery.dto.DelOutboundReassignExportListDto">
        SELECT
            o.ref_no,
            o.seller_code,
            o.order_no,
            o.tracking_no,
            o.warehouse_code,
            o.order_type,
            o.state,
            o.shipment_rule,
            a.consignee,
            a.street1,
            a.street2,
            a.street3,
            a.state_or_province,
            a.city,
            a.post_code,
            a.country_code,
            a.country,
            a.phone_no,
            a.email,
            o.cod_amount,
            o.remark,
            o.tracking_status,
            o.tracking_description,
            o.create_time,
            o.exception_message,
            o.ioss
        FROM del_outbound o
        LEFT JOIN del_outbound_address a ON a.order_no = o.order_no
        ${ew.customSqlSegment}
    </select>

    <update id="updateTrackingNo">
        update del_outbound set tracking_no = #{trackingNo} where order_no = #{orderNo}
    </update>
    <update id="updateFssAccountSerial"
            parameterType="com.szmsd.delivery.dto.DelOutboundBatchUpdateTrackingNoDto">

        UPDATE fss_account_serial_bill SET tracking_no=#{trackingNo}  WHERE `no` =#{orderNo}
    </update>

    <select id="exceptionMessageList" resultType="com.szmsd.delivery.vo.DelOutboundListExceptionMessageVO">
        select id, order_no, exception_message from del_outbound where order_no in
        <foreach  collection="orderNos" item="orderNo" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </select>

    <select id="exceptionMessageExportList" resultType="com.szmsd.delivery.vo.DelOutboundListExceptionMessageExportVO">
        SELECT
            o.id, o.order_no, o.exception_message, o.shipment_rule,o.ioss,o.house_no,
            a.consignee, a.street1, a.street2, a.city, a.state_or_province, a.country, a.post_code, a.phone_no, a.email
        FROM del_outbound o
        INNER JOIN del_outbound_address a ON a.order_no = o.order_no
        where o.order_no in
        <foreach  collection="orderNos" item="orderNo" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </select>

    <select id="queryFinishList" resultType="com.szmsd.inventory.domain.vo.QueryFinishListVO">
        SELECT order_no as no,create_time FROM `del_outbound` WHERE `state` in ('COMPLETED','Returned_toWarehouse')
        <if test = "noList !=null and noList.size() > 0">
            AND order_no IN
            <foreach  collection="noList" item="orderNo" open="(" separator="," close=")">
                #{orderNo}
            </foreach>
        </if>
        <if test="cusCode !=null and cusCode != ''">
            AND seller_code = #{cusCode,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="pageLists" resultType="com.szmsd.delivery.dto.DelOutboundListQueryDto">
        SELECT
            o.id,
            o.order_no,
            o.purchase_no,
            o.order_type,
            o.state,
            o.warehouse_code,
            o.shipment_rule,
            o.tracking_no,
            o.specifications,
            o.weight,
            o.calc_weight,
            o.calc_weight_unit,
            o.amount,
            o.currency_code,
            o.exception_message,
            o.custom_code,
            o.create_by_name,
            o.create_time,
            o.remark,
            a.consignee,
            a.phone_no,
            a.email,
            a.street1,
            a.street2,
            a.street3,
            a.city,
            a.state_or_province,
            a.country_code,
            a.country,
            a.post_code,
            o.is_print,
            o.is_label_box,
            o.tracking_status,
            o.tracking_description,
            o.cod_amount,
            o.ref_no,
            o.shipment_retry_label,
            o.upload_box_label,
            o.shipments_time,
            o.amazon_logistics_route_id,
            o.logistics_provider_code

        FROM del_outbound o
        LEFT JOIN del_outbound_address a ON a.order_no = o.order_no
        where o.order_no=#{orderNo}
    </select>
    <select id="selectQuerySettings" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT shipment_rule as shipmentRule,shipment_days as shipmentDays,track_stay_days as trackStayDays from del_query_settings where shipment_rule=#{shipmentRule} LIMIT 0,1

    </select>
    <select id="selectTrackingNo" resultType="com.szmsd.delivery.domain.DelOutbound"
            parameterType="java.lang.String">
        select order_no,tracking_no,warehouse_code from del_outbound where order_no=#{orderNo} AND del_flag='0' LIMIT 0,1
    </select>
    <select id="selectorderNos" resultType="com.szmsd.delivery.domain.DelOutbound" parameterType="java.lang.String">
        SELECT * from del_outbound
            <where>
            <if test="orderNos.size()>0">
                order_no IN
                <foreach collection="orderNos" open="(" separator="," close=")" item="orderNo">
                    #{orderNo}
                </foreach>
            </if>
            </where>

    </select>
    <select id="selectdelsellerCodes" resultType="com.szmsd.bas.domain.BasSeller">

        SELECT * from bas_seller where del_flag=0
    </select>


    <select id="selectByState" resultType="com.szmsd.delivery.domain.DelOutbound">

        SELECT * from del_outbound
        where state = #{state}
        and thrid_part_status = 0
        and thrid_part_count <![CDATA[ <= ]]> 10
        and prc_terminal_carrier = 'CK1'
        limit #{pageNumber},#{pageSize}

    </select>
    <select id="selectOmsWmsLogerror" resultType="com.szmsd.delivery.domain.DelOutbound" parameterType="java.lang.String">

        SELECT
        exception_message_wms,
        state,
        order_no,
        seller_code,
        custom_code,
        order_type
        FROM
        del_outbound
        WHERE
        state in ('DELIVERED','PROCESSING')
        AND exception_message_wms IS NOT NULL
        AND exception_message_wms != ''
        AND order_type IN('Normal','SelfPick','Batch','NewSku','SplitSku','Destroy')
        AND create_time &lt;= #{createTime}
        ORDER BY
        create_time DESC
    </select>
    <select id="selectOmsWmsLogsuccess" resultType="com.szmsd.delivery.domain.DelOutbound">
        SELECT
        a.order_type,
        a.order_no,
        a.custom_code,
        a.shipment_rule as prc_interface_product_code,
        a.create_time,
        b.country
        FROM
        del_outbound a
        LEFT JOIN del_outbound_address b on b.order_no=a.order_no
        WHERE
        state  in ('DELIVERED','PROCESSING')
        AND (a.exception_message_wms IS NULL OR a.exception_message_wms = '' )
        AND a.order_type IN ('Normal', 'SelfPick', 'Batch', 'NewSku', 'SplitSku', 'Destroy')
        AND a.create_time  &lt;= #{createTime}

        ORDER BY
        a.create_time DESC
    </select>

    <update id="updateThridPartcount">
        update  del_outbound set thrid_part_count = thrid_part_count + 1 where id = #{id}
    </update>

    <update id="updateDeloutByOrder">

        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update del_outbound
            <set>
                <if test="item.length != null">
                    length = #{item.length},
                </if>
                <if test="item.width != null">
                    width = #{item.width},
                </if>
                <if test="item.height != null">
                    height = #{item.height},
                </if>
                <if test="item.weight != null">
                    weight = #{item.weight},
                </if>
                <if test="item.specifications != null and item.specifications != ''">
                    specifications = #{item.specifications},
                </if>
                <if test="item.calcWeight != null">
                    calc_weight = #{item.calcWeight},
                </if>
                <if test="item.calcWeightUnit != null">
                    calc_weight_unit = #{item.calcWeightUnit},
                </if>
                <if test="item.sheetCode != null">
                    sheet_code = #{item.sheetCode},
                </if>
            </set>
            where order_no = #{item.orderNo}
        </foreach>

    </update>
    <update id="updateamazonLogisticsRouteId" parameterType="com.szmsd.delivery.dto.DelOutboundBatchUpdateTrackingNoDto">
        UPDATE del_outbound SET amazon_logistics_route_id=#{amazonLogisticsRouteId}  WHERE order_no =#{orderNo}
    </update>
</mapper>
