<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.delivery.mapper.DelSrmCostLogMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.delivery.domain.DelSrmCostLog">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="version" property="version"/>
                    <result column="trace_id" property="traceId"/>
                    <result column="order_no" property="orderNo"/>
                    <result column="state" property="state"/>
                    <result column="fail_count" property="failCount"/>
                    <result column="last_request_consume_time" property="lastRequestConsumeTime"/>
                    <result column="next_retry_time" property="nextRetryTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, version, del_flag, trace_id, order_no, state, fail_count, last_fail_message, last_request_consume_time, next_retry_time
        </sql>


</mapper>
