<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.delivery.mapper.DelTrackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.delivery.domain.DelTrack">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="version" property="version"/>
        <result column="tracking_no" property="trackingNo"/>
        <result column="carrier_code" property="carrierCode"/>
        <result column="shipment_id" property="shipmentId"/>
        <result column="order_no" property="orderNo"/>
        <result column="tracking_status" property="trackingStatus"/>
        <result column="no" property="no"/>
        <result column="description" property="description"/>
        <result column="tracking_time" property="trackingTime"/>
        <result column="action_code" property="actionCode"/>
        <result column="display" property="display"/>
        <result column="country_code" property="countryCode"/>
        <result column="country_name_en" property="countryNameEn"/>
        <result column="country_name_cn" property="countryNameCn"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="postcode" property="postcode"/>
        <result column="street1" property="street1"/>
        <result column="street2" property="street2"/>
        <result column="street3" property="street3"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, version, tracking_no, carrier_code, shipment_id, order_no, tracking_status, no, description, tracking_time, action_code, display, country_code, country_name_en, country_name_cn, province, city, postcode, street1, street2, street3
        </sql>

    <select id="getTrackAnalysis" resultType="com.szmsd.delivery.dto.TrackAnalysisDto">
        select
            count(1) as num,
            a.tracking_status as keyCode
        FROM del_outbound a
        left join del_outbound_address b
        on a.order_no = b.order_no
        ${ew.customSqlSegment}
        GROUP BY a.tracking_status
    </select>

    <select id="getProductServiceAnalysis" resultType="com.szmsd.delivery.dto.TrackAnalysisDto">
        select
            count(1) as num,
            a.shipment_rule as keyCode
        FROM del_outbound a
        left join del_outbound_address b
        on a.order_no = b.order_no
        ${ew.customSqlSegment}
        GROUP BY a.shipment_rule
    </select>

    <select id="getAnalysisExportData" resultType="com.szmsd.delivery.dto.TrackAnalysisExportDto">
        select
          a.bring_verify_time,
          a.order_no,
          a.tracking_no,
          a.ref_no,
          a.shipment_rule,
          a.tracking_status,
          b.tracking_time as latestTrackTime,
          b.description as latestTrackInfo
        from  (select t2.tracking_time, t2.description, t2.order_no from (select MAX(id) id from del_track  where order_no &lt;&gt; '' GROUP BY order_no) t1 left join del_track t2 on t1.id = t2.id) b
        left join del_outbound a on a.order_no = b.order_no
        ${ew.customSqlSegment}
    </select>

</mapper>
