<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.chargerules.mapper.ChaOperationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.chargerules.domain.ChaOperation">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="operation_type" property="operationType"/>
        <result column="operation_type_name" property="operationTypeName"/>
        <result column="warehouse_code" property="warehouseCode"/>
        <result column="order_type" property="orderType"/>
        <result column="cus_type_code" property="cusTypeCode"/>
        <result column="cus_name_list" property="cusNameList"/>
        <result column="cus_code_list" property="cusCodeList"/>
        <result column="effective_time" property="effectiveTime"/>
        <result column="expiration_time" property="expirationTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, operation_type, operation_type_name, warehouse_code, order_type, cus_type_code, cus_name_list, cus_code_list, effective_time, expiration_time
    </sql>
    <sql id="ChaOperationVO">
        id,remark, operation_type, operation_type_name, warehouse_code, order_type, cus_type_code, cus_name_list, cus_code_list, effective_time, expiration_time
    </sql>
    <sql id="ChaOperationListVO">
        remark,id,operation_type, operation_type_name, warehouse_code, order_type, cus_type_code, cus_name_list, cus_code_list, effective_time, expiration_time,currency_code
    </sql>
    <select id="queryOperationList" resultType="com.szmsd.chargerules.vo.ChaOperationListVO">
        SELECT
        <include refid="ChaOperationListVO"/>
        FROM cha_operation ${ew.customSqlSegment}
    </select>
    <resultMap id="chaOptVO" type="com.szmsd.chargerules.vo.ChaOperationVO">
        <id column="id" property="id"/>
        <collection column="id" property="chaOperationDetailList"
                    ofType="com.szmsd.chargerules.vo.ChaOperationDetailsVO"/>
    </resultMap>
    <select id="queryOperationDetailByRule" resultType="com.szmsd.chargerules.vo.ChaOperationVO">
        SELECT
        <include refid="ChaOperationVO"/>
        FROM cha_operation
        Left Join
        <where>
        </where>
    </select>
</mapper>
