<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.chargerules.mapper.ChaOperationDetailsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szmsd.chargerules.domain.ChaOperationDetails">
        <id column="id" property="id"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="operation_id" property="operationId"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="minimum_weight" property="minimumWeight"/>
        <result column="maximum_weight" property="maximumWeight"/>
        <result column="first_price" property="firstPrice"/>
        <result column="next_price" property="nextPrice"/>
        <result column="unit" property="unit"/>
        <result column="currency_code" property="currencyCode"/>
        <result column="currency_name" property="currencyName"/>
        <result column="discount_rate" property="discountRate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, operation_id, create_by, update_by, minimum_weight, maximum_weight, first_price, next_price, unit, currency_code, currency_name, discount_rate
    </sql>
    <sql id="ChaOperationDetailsVO">
        id, operation_id, minimum_weight, maximum_weight, first_price, next_price, unit, discount_rate
    </sql>
    <select id="queryDetailByOpeId" resultType="com.szmsd.chargerules.vo.ChaOperationDetailsVO">
        SELECT
        <include refid="ChaOperationDetailsVO"/>
        FROM cha_operation_details WHERE operation_id = #{operationId}
    </select>
    <select id="queryDetailByOpeIdList" resultType="com.szmsd.chargerules.vo.ChaOperationDetailsVO">
        SELECT
        <include refid="ChaOperationDetailsVO"/>
        FROM cha_operation_details WHERE operation_id IN <foreach collection="list" open="(" separator="," close=")" item="item">#{item}</foreach>
    </select>
</mapper>
