<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.chargerules.mapper.WarehouseOperationDetailsMapper">

    <select id="selectWarehouseOperationDetails" resultType="com.szmsd.chargerules.domain.WarehouseOperationDetails" parameterType="Integer">
        SELECT charge_days,price,unit,remark,discount_rate FROM `cha_warehouse_operation_details` WHERE warehouse_operation_id = #{id} and compute_type=0
    </select>
    <select id="selectWarehouseOperationDetailsrs"
            resultType="com.szmsd.chargerules.domain.WarehouseOperationDetails">
        SELECT charge_days,price,unit,remark,discount_rate,compute_type,location_name FROM `cha_warehouse_operation_details` WHERE warehouse_operation_id = #{id} and compute_type=#{computeType}

    </select>

</mapper>
